manifest {
  description = '3\'-Seq analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  out_dir = "${projectDir}/results/0516_Mayr_GT_gencode_nonoverlaps_v2_atlas_v2_top1"
}

params {
    run_mode = "motif_analysis"
}

params {
  non_overlap_genes = "${projectDir}/data/gencode_v47_FINAL/gencode.v47.basic.annotation.prot_code.no_overlaps.v2.sorted.genes_only.bed"
  polya_sites_bed = "${projectDir}/data/atlas.clusters.2.0.GRCh38.96.chr_added.sorted.top1.bed"
  genome_fa = "${projectDir}/data/GRCh38.primary_assembly.genome.fa"
  chrom_size = "${projectDir}/data/hg38.chrom.sizes"
  threads = 8
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
    executor.submitRateLimit = '1/5sec'
  }
  conda {
    conda.enabled = true
    process.conda = "${HOME}/miniconda3/envs/ipa-immune"
  }
}