manifest {
  description = '3\'-Seq analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  out_dir = "${projectDir}/results/1213_Mayr_GT"
}

params {
    run_mode = "motif_analysis"
}

params {
  non_overlap_genes = "${projectDir}/data/gencode.v42.annotation.non_overlapping_genes.bed"
  polya_sites_bed = "${projectDir}/data/SCINPAS_all_normal_q15Expr.bed"
  genome_fa = "${projectDir}/data/GRCh38.primary_assembly.genome.fa"
  chrom_size = "${projectDir}/data/hg38.chrom.sizes"
  threads = 8
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
    executor.submitRateLimit = '1/2sec'
  }
  conda {
    conda.enabled = true
    process.conda = "${HOME}/miniconda3/envs/ipa-immune"
  }
}