process {
    
    // standard settings if not specified otherwise
    
    executor = 'slurm'
    clusterOptions = "--qos=30min"
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 10.m * task.attempt }
    memory = { 4.GB * task.attempt }
    cpus = 4
    queueSize = 20
    maxForks = 80
    
    // general estimates for groups of processes
    
    withLabel: processing {
        clusterOptions = "--qos=6hours"
        cpus = 8
        time = { 30.m * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withLabel: motif_analysis {
        clusterOptions = "--qos=6hours"
        cpus = 8
        time = { 2.h * task.attempt }
        memory = { 16.GB * task.attempt }
    }
}
